header {
  padding: 0 15px;
  margin: 0 auto;
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}
.H20 {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 45px;
  padding: 0 25px;
  color: white;
  display: block;
}

html, body {
	padding: 0px;
	margin:0px;
}
body{
	background-color: #ddd;
}

li {
	list-style: none;
}

.container{
	width: 880px;
	margin: 50px auto;
	padding: 20px;
  
}

img{
  float: left;
  width: 170px;
  border-radius: 100px;
  margin :0 9px 3px 0;
  margin-right: 20px;
}
h3{
  font-size: 30px;
  color: 
}

p{
  text-align: justify;
}
span{
  font-size: 40px;
}

@media(max-width: 670px){
.container{
  width: 70%;
     
}  
}

.footer {
	background-color: #ffff;
	font-color: #0000;
	height: 120px;
	padding: 40px;
}

.footer-logo {
	float: left;
	font-size: 25px;
}

.footer-list {
	float: right;
}

.footer-list li {
	padding-bottom: 20px;
	
}
		
